/* Barra de navegacion */
.navbar {
  padding: 2rem;
  background-color: lightblue;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

/* Estilos generales */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-principal h1 {
  font-size: 2.5rem;
  color: white;
  padding-top: 15px;
  margin-bottom: 0px;
  font-family: 'Rubik Dirt', cursive;
}

.hero-principal h2 {
  font-size: 2rem;
  color: lightgreen;
  font-family: 'Bakbak One', cursive;
}

#btn-modificar-stock {
  margin-right: 5px;
}

/* Sección Stock */
.card-precio {
  font-size: 0.9rem;
}

.card-unidad {
  font-size: 0.8rem;
}

.card-img {
  max-width: 90px;
  display: block;
  margin: auto;
}

/* Sección Carrito de compras */
.section-carrito-de-compras {
  margin-top: 2rem;
  background-color: #3282b8;
}

.carrito-de-compras h2 {
  padding: 1rem;
  font-size: 2rem;
  color: lightcyan;
  font-family: 'Bakbak One', cursive;
}

#titulo-productos-carrito {
  padding: 1rem;
  font-size: 1.5rem;
  color: lightcyan;
  font-family: 'Bakbak One', cursive;
}

#lbl-precio-subtotal {
  font-size: 1.2rem;
  color: lightcyan;
  font-family: 'Bakbak One', cursive;
}

#lbl-incluye-iva {
  display: none;
  font-size: 1rem;
  color: lightcyan;
  font-family: 'Bakbak One', cursive;
}

#lbl-precio-total {
  font-size: 1.5rem;
  color: lightcyan;
  font-family: 'Bakbak One', cursive;
}

/* Formulario Datos de compra */
#titulo-formulario-compra {
  padding: 1rem;
  font-size: 1.5rem;
  color: lightcyan;
  font-family: 'Bakbak One', cursive;
}

#btn-comprar-carrito {
  margin-top: 10px;
  margin-bottom: 10px;
}

#form-check-iva {
  margin-top: 10px;
}

.letra-pequena {
  color: lightcyan;
  font-family: 'Bakbak One', cursive;
}


/* Login.html */
.btn-login {
  margin-top: 10px;
  margin-bottom: 10px;
}

#titulo-datos-usuario {
  padding: 1rem;
  font-size: 1.5rem;
  color: lightcyan;
  font-family: 'Bakbak One', cursive;
}