/* Barra de navegacion */

.navbar {
  padding: 2rem;
  background-color: lightblue;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

/* Estilos generales */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-principal h1 {
  font-size: 2.5rem;
  color: white;
  padding-top: 15px;
  margin-bottom: 0px;
  font-family: 'Rubik Dirt', cursive;
}

.hero-principal h2 {
  font-size: 2rem;
  color: lightgreen;
  font-family: 'Bakbak One', cursive;
}

#boton-cuenta {
  margin-right: 5px;
}

.card-precio {
  font-size: 0.9rem;
}

.card-unidad {
  font-size: 0.8rem;
}

.card-img {
  max-width: 90px;
  display: block;
  margin: auto;
}